.title{
  font-family: 'Be Vietnam Pro', sans-serif;
}

.header{
  background: var(--red);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 2rem;
}

.header ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.header ul a{
  color: var(--white);
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.nav{
  margin: 0 auto;
}

.hero{
  background: var(--red);
  padding-top: 67px;
  padding-bottom: 50px;
}

.hero > *{
  margin-left: auto;
}

.hero p{
  color: #FFF;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 188.235% */
  letter-spacing: -0.408px;
  max-width: 579px;
  margin: auto;
  margin-top: 32px;
}

.hero div{
  display: flex;
  margin: auto;
  max-width: 480px;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 16px;
  margin-top: 32px;
}

.heroText{
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
  max-width: 916px;
  text-align: center;
  margin: auto;
  padding: .25rem;
}

.headerBtn{
  margin-left: auto;
}

.dashboardImgContainer{
  width: 100%;
  /* background: var(--red); */
  display: flex;
  place-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 115px;
}

.dashboardImgContainer::after{
  content: '';
  width: 120%;
  height: 50%;
  background: var(--red);
  position: absolute;
  top: 0;
  border-bottom-right-radius: 100%;
  z-index: -1;
}

.dashboardImg{
  width: 80%;
  max-width: 900px;
  height: auto;
  margin-inline: auto;
  border-radius: .5rem;
  box-shadow: 20px 20px 50px -12px rgba(0, 0, 0, 0.25);
}

.subheader{
  color: var(--text);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

.productParagraph{
  color: var(--grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.408px;
  text-align: center;
  margin-top: 21px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 32px auto;
  margin-bottom: 105px;
  width: 80%;
}

.herosection2{
  background: #F2F2FF;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.herosection2::after{
  content: '';
  width: calc(100% / 3);
  height: 120%;
  background: var(--red);
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  z-index: -1;
}

.herosection2 h3{
  color: #470000;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF2F2;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.26px;
}

.herosection2 > img {
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 1rem;
}

.herosection2 > div{
  width: 100%;
  max-width: 360px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.herosection2 > div p, .herosection2 > div span{
  color: var(--grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -0.408px;
}

.herosection2 > div span{
  color: #343434;
  font-weight: 600;
}

.herosection2 > div > div{
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media (max-width: 720px) {
  .nav{
    display: none;
  }

  .header{
    padding: .5rem;
  }

  .header button{
    display: none;
  }

  .herosection2{
    flex-direction: column;
    padding: 1rem;
  }

  .herosection2 > *{
    width: 98%!important;
  }

  .herosection2::after{
    display: none;
  }

  .herosection2 > div span{
    color: #343434;
    font-weight: 600;
    font-size: 12px;
  }
}